<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277481043178-kfr39sfvh410450e0i67iosh7oj4euei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277481043178-kfr39sfvh410450e0i67iosh7oj4euei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277481043178-1ma4277hhc41o75ij4pjttg0cqqbl5iq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9RFycgdZYEs2Q_h-B1FvOkLunGUwmh-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>277481043178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airesumebuilder.app</string>
	<key>PROJECT_ID</key>
	<string>ai-resume-builder-bf4ca</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-resume-builder-bf4ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277481043178:ios:fe2ef6bbe1eb049f0b1393</string>
	<key>DATABASE_URL</key>
	<string>https://ai-resume-builder-bf4ca-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>